<div class="contentArea">
  <div class="">
    <div class="pageTitle">Leaves</div>
    <hr class="hline1" />
  </div>



  <div ng-controller="LeaveRequestController">


    <table class="table table-striped table-condensed table-hover" border="1" align="left">
      <thead>

      <tr>
        <th class="Emp Name" custom-sort order="'Emp Name'" sort="sort">Emp Name&nbsp;</th>
        <th class="period" custom-sort order="'period'" sort="sort">Financial Year&nbsp;</th>
        <!--<th class="project" custom-sort order="'project'" sort="sort">Req Date&nbsp;</th>-->
        <th class="task" custom-sort order="'task'" sort="Task">Req Type&nbsp;</th>
        <th class="day_Of_Week" custom-sort order="'day_Of_Week'" sort="sort">From Dt&nbsp;</th>
        <th class="no_Of_Hrs" custom-sort order="'no_Of_Hrs'" sort="sort">To Dt&nbsp;</th>
        <th class="dt_Submitted" custom-sort order="'dt_Submitted'" sort="sort">No Of Dates&nbsp;</th>
        <th class="mgr_Id" custom-sort order="'mgr_Id'" sort="sort">Reason For Request&nbsp;</th>
        <th class="mgr_Approval" custom-sort order="'mgr_Approval'" sort="sort">MGR_Approval&nbsp;</th>


        <th class="dt_Approved" custom-sort order="'dt_Approved'" sort="sort">HR Approval&nbsp;</th>
        <th class="dt_Approved" custom-sort order="'dt_Approved'" sort="sort">Status&nbsp;</th>


      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="status in projectsData11 track by $index">
        <td>{{status.createdBy}}</td>
        <td>{{status.financialYear}}</td>
        <!--<td>{{status.reqDate}}</td>-->
        <td>{{status.leaveType}}</td>
        <td>{{status.startDt}}</td>
        <td>{{status.endDt}}</td>
        <td>{{status.noOfDays}}</td>
        <td> {{status.reasonForLeave}}</td>

        <td> <select ng-model="status.hrStatus" ng-change="hrApprove(status.hrStatus)" class="drop09">
          <option value="Pending">Pending</option>
          <option value="Accepted">Accepted</option>
          <option value="Rejected">Rejected</option>

        </select></td>
        <td>
          <select ng-model="status.mgrStatus" ng-change="mgrApprove(status.mgrStatus)" class="drop09">
            <option value="Pending">Pending</option>
            <option value="Accepted">Accepted</option>
            <option value="Rejected">Rejected</option>

          </select></td>
        <td><button ng-click="leaveUpdateStatus(status.id)">Update</button></td>


      </tr>
      </tbody>
    </table>

  </div>
</div>

