<div class="contentArea">
  <div class="">
    <div class="pageTitle">Leave Request</div>
    <hr class="hline1" />
  </div>

  <div ng-controller="LeaveRequestController">
    <button type="button" class="btn btn-danger btn-md pull-right m-btm10" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>
    <div class="modal fade" id="myModal" resource="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content " align="center">
          <div class="modal-header createEmployeeModalHeader">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Apply For Leave</h4>
            <h4>Date:{{todayDate |  date:'yyyy-MM-dd '}} </h4>
          </div>
          <div class="modal-body">
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
            <form class="simple-form row" id="myModal" ng-submit="createRequest()">

              <div class="col-lg-2 paddgleft-right0 "> <label>empName:</label></div>
              <div class="col-lg-3 paddgleft-right0 ">
                <input type="text"  ng-model="nameOfLoginPerson" class="drop09">
              </div>
              <div class=" col-lg-3 paddgleft-right0 "> <label>FinancialYear:</label></div>
              <div class="col-lg-3 paddgleft-right0">
                <input type="text"  ng-model="requestfinancialYear" class="drop09" required>
              </div>
              <div class="col-lg-12 paddgleft-right0 m-top20">
                <div class="col-lg-2 paddgleft-right0"> <label>Start Dt:</label></div>
                <div class="col-lg-2 paddgleft-right0">
                  <input type="text" ng-calendar format="%d-%m-%Y"  ng-model="request.startDt" class="drop09" required="">
                </div>

                <div class="col-lg-2 paddgleft-right0"> <label>End Dt:</label></div>
                <div class="col-lg-2 paddgleft-right0">
                  <input type="text" ng-calendar format="%d-%m-%Y"  ng-model="request.endDt" class="drop09" ng-blur="calData()" required>
                  <!--<button calss="btn btn-default" ng-click="calData()">GetDays</button>-->
                </div>

                <div class="col-lg-2 paddgleft-right0"> <label>No.of.days:</label></div>
                <div class="col-lg-1 paddgleft-right0">
                  <input type="text"  ng-model="request.noOfDays" class="drop09" required>
                </div>
              </div>
              <div class="col-lg-12 m-top20">

                <div class="col-lg-6">
                  <label> <span class="color-red f-bold f-left">*</span>LeaveType:</label>
                  <select ng-model="request.leaveType" class="drop09" required>
                    <option value="CL">CL</option>
                    <option value="SL">SL</option>
                    <option value="EL">EL</option>

                  </select>
                </div>

                <div class="col-lg-6">
                  <label>ReasonForLeave:</label>
                  <input type="text"  ng-model="request.reasonForLeave" class="drop09" required>
                </div>
                <div class="col-lg-12 m-top20">
                <div class="col-lg-6">
                  <label>Manager Approval Status:</label>
                 <input type="text"  ng-model="request.mgrApprovalStatus" placeholder="Pending" class="drop09" readonly>

                    </select>-->
                </div>

                <div class="col-lg-6">
                  <label>Hr Approval Status</label>
                 <input type="text"  ng-model="request.hrApprovalStatus" placeholder="Pending" class="drop09" readonly>

                  </select>-->
                </div>
</div>
              </div>
              <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4" style="margin-bottom: 20px">
                <div class="col-lg-6">
                  <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 20px"/>
                </div>
                <div class="col-lg-6">
                  <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" style="margin-top: 20px;" />
                </div>
              </div>

            </form>
          </div>
        </div>
  </div>
      </div>
    </div>



  <!--edit popup-->


    <div class="modal fade" id="projectEdit" resource="dialog">
      <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content hight09" align="center">
            <div class="modal-header createEmployeeModalHeader">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">SetUp Leaves For Employee</h4>
            </div>
            <div class="modal-body">
              <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
              <form class="simple-form" id="myModal1" ng-submit="updateProject1()">


                <div class="col-lg-12 paddgleft-right0">
                  <div class="col-lg-2 paddgleft-right0"> <label>Start Dt:</label></div>
                  <div class="col-lg-2 paddgleft-right0">
                    <input type="text" ng-calendar format="%d-%m-%Y"  ng-model="editLeaveRequest.startDt" class="drop09">
                  </div>

                  <div class="col-lg-2 paddgleft-right0"> <label>End Dt:</label></div>
                  <div class="col-lg-2 paddgleft-right0">
                    <input type="text" ng-calendar format="%d-%m-%Y"  ng-model="editLeaveRequest.endDt" class="drop09">
                  </div>


                  <div class="col-lg-2 paddgleft-right0"> <label>no.of.days</label></div>
                  <div class="col-lg-1 paddgleft-right0">
                    <input type="text"  ng-model="editLeaveRequest.noOfDays" class="drop09">
                  </div>
                </div>
                <div class="col-lg-12 m-top20">
                  <!--<div class="col-lg-6">
                  <label>LeaveType: </label>
                  <input type="text"  ng-model="resourceLeave.empId" class="drop09">
                </div>
  -->
                  <div class="col-lg-6">
                    <label> <span class="color-red f-bold f-left">*</span>LeaveType:</label>
                    <select ng-model="editLeaveRequest.leaveType" class="drop09">
                      <option value="CL">CL</option>
                      <option value="SL">SL</option>
                      <option value="EL">EL</option>

                    </select>
                  </div>

                  <div class="col-lg-6">
                    <label>ReasonForLeave:</label>
                    <input type="text"  ng-model="editLeaveRequest.reasonForLeave" class="drop09">
                  </div>
                  <div class="col-lg-12 m-top20">
                    <div class="col-lg-6">
                      <label>Manager Approval Status:</label>
                      <input type="text"  ng-model="editLeaveRequest.mgrApprovalStatus" placeholder="Pending" class="drop09" readonly>
                    </div>

                    <div class="col-lg-6">
                      <label>Hr Approval Status</label>
                      <input type="text"  ng-model="editLeaveRequest.hrApprovalStatus" placeholder="Pending" class="drop09" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4" style="margin-bottom: 20px">
                  <div class="col-lg-6">
                    <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 20px"/>
                  </div>
                  <div class="col-lg-6">
                    <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" style="margin-top: 20px;" />
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>

    <!--************************************add and update*********************************************-->





    <table datatable="ng" class="table table-striped table-condensed table-hover" border="1" align="left">
      <thead>

      <tr>
        <th class="empName" custom-sort order="'paNumb'" sort="sort">Emp Name&nbsp;</th>
        <th class="financialYear" custom-sort order="'projectName'" sort="sort">Financial Year&nbsp;</th>
        <th class="Startdt" custom-sort order="'projectManager'" sort="sort">Start Dt&nbsp;</th>
        <th class="EndDt" custom-sort order="'projectManager'" sort="sort">End Dt&nbsp;</th>
        <th class="noOfDays" custom-sort order="'projectManager'" sort="sort">No Of Days&nbsp;</th>
        <th class="LeaveType" custom-sort order="'start_date'" sort="sort">Leave Type&nbsp;</th>
        <th class="ReasonforLeave" custom-sort order="'endDate'" sort="sort">Reason for Leave
          &nbsp;</th>
        <th class="MGRApprovalStatus" custom-sort order="'start_date'" sort="sort">MGR Approval Status&nbsp;</th>
        <th class="hrApprovalStatus" custom-sort order="'start_date'" sort="sort">HR Approval Status &nbsp;</th>

       <th class="status" custom-sort order="'status'" sort="sort">Status&nbsp;</th>

      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="requests in projectsData  track by $index">
       <td> {{requests.createdBy}}</td>
        <td>{{requestfinancialYear}}</td>
        <td>{{requests.startDt}}</td>
        <td>{{requests.endDt}}</td>
        <td>{{requests.noOfDays}}</td>
        <td>{{requests.leaveType}}</td>
        <td>{{requests.reasonForLeave}}</td>
        <td>{{requests.hrStatus}}</td>
        <td>{{requests.mgrStatus}}</td>

        <td>
          <button class="glyphicon glyphicon-pencil pall10 m-right5" data-backdrop="static" data-keyboard="false"  ng-click="editLeaveRequest1(requests)"></button>
        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
