<!DOCTYPE html>
<html ng-app="myApp">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>YitsolTimeSheet</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="bower_components/angular-datatables/dist/css/angular-datatables.css" rel="stylesheet" />
  <link href="bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
  <!--&lt;!&ndash; bootstrap&ndash;&gt;-->
  <!--<link href="css/bootstrap.no-icons.min.css" rel="stylesheet">-->

  <!-- Custom CSS -->
  <link href="css/sb-admin.css" rel="stylesheet">

  <!-- Morris Charts CSS -->
  <link href="css/plugins/morris.css" rel="stylesheet">
  <link href="dist/ngcalendar.css" rel="stylesheet">
  <link href="css/angular-ui-notification.min.css" rel="stylesheet">
  <!--DatePicker-->

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src = "js/angular.js" ></script>
 <!-- <script src = "js/angular.min.js" ></script>-->
  <script src="js/angular-route.min.js"></script>

  <script src="js/d3.v3.min.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="dist/ngcalendar.js"></script>
  <script src="js/yitsol.js"></script>

  <script src="js/angular-ui-notification.min.js"></script>
  <script src="../bower_components/angular-datatables/dist/angular-datatables.js"></script>
  <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

  <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>


  <![endif]-->

  <!--<script>
    window.location.href = "/login.html";
  </script>-->

</head>

<body>

<section ng-controller="indexController">
  <div class="">
    <div class="container">
      <div class="row">
          <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
            <div class="loginFormMain">

              <div class="text-center"></div>
              <div class="LoginForm">
                <form role="form" name="myform"  ng-submit="loginSubmit()">
                  <div class="form-group">
                    <label>Email address:</label>
                    <input  name="email" class="form-control" ng-model="user.email" required />


                  </span>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" ng-model="user.password" id="pwd" required />
                  </div>

                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div ng-view></div>
<div class="container" ng-controller="indexController" >
  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg change_pswrd" data-toggle="modal" data-target="#myModal">Change Password</button>-->

  <!-- Modal -->

  <div class="modal fade" id="myModal112" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title txt_center">Forgot Password</h4>
        </div>

        <div id="errormsgdis" style="display: none">Enter Valid Email Address </div>
        <div class="modal-body">
          <form ng-submit="forgotPassword()">

            <input id="emailId" type="" placeholder="Enter Email" ng-model="forgotmail" class="input_change_pswrd" required="required">
            <input type="submit" value="submit" class="submit_change_pswrd">
          </form>




        </div>

      </div>
    </div>
  </div>
</div>
</body>

</html>
