
<div class="">
    <h3 class="text-center ">YITSOL - Employee Status Reporting</h3>
    <h6  class="text-center">Manager Approval Dashboard</h6>
</div>



<div ng-controller="StatusEntryController">

  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Welcome </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Today Date: </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">Submit Time for

        <select ng-model="selectedCar">
          <option value="">Select date</option>
          <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
        </select>



      </div>
    </div>

  </div>


    <table class="table table-striped table-condensed table-hover"  id="statusEntryTable" border="1" align="left">
        <thead>

        <tr>
          <th>Resource</th>
          <th>Project</th>
          <th>Task Type</th>
          <th>Date1</th>
          <th>Date2</th>
          <th>Date3</th>
          <th>Date4</th>
          <th>Date5</th>
          <th>Date6</th>
          <th>Date7</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
          <td>Sunday</td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="">
          <td>

          </td>
          <td>

          </td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>delete button</td>


        </tr>
        <tr>
          <td>          </td>
          <td>          </td>
          <td>          </td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>10</td>
          <td>delete button</td>


        </tr>
        </tbody>
    </table>
  <div>
    <button>Submit</button>
    <button>Cancel</button>
  </div>
</div>
