<div class="contentArea">
  <div class="">
    <div class="pageTitle">Resource Leaves</div>
    <hr class="hline1" />
  </div>
  <div >
    <button type="button" class="btn btn-danger btn-md pull-right m-btm10"  data-toggle="modal" data-target="#myModal" ng-click="getMasterData()">Create</button>
    <div class="col-lg-4 text-right">
      <label> Financial Year:</label>
      <select ng-model="searchText" ng-change="getFinancialYear(searchText)">
        <option value="">Select Year</option>
        <option>2016-17</option>
        <option>2017-18</option>
        <option>2018-19</option>
        <option>2019-20</option>

      </select>

    </div>
    <div class="col-lg-6 text-right">
    <button class="btn btn-export m-right5"  id="center2" ng-click="exportToExcel('#projectMilestone')">
      <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>
      </div>
      <!-- Modal -->
    <div class="modal fade" id="myModal" resource="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content hight09" align="center">
          <div class="modal-header createEmployeeModalHeader">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">SetUp Leaves For Employee</h4>
          </div>
          <div class="modal-body">
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
            <form class="simple-form" id="myModal" ng-submit="createLeave1()">


              <div class="col-lg-12">
                <div class="col-lg-6">
                  <label> <span class="color-red f-bold f-left">*</span>Emp Name:</label>

                    <select ng-model="resourceLeave.empId"  class="drop09">
                      <option class=" " value="">Select Emp Name</option>
                      <option value="{{resource.id}}" ng-repeat="resource in dataOfResource">{{resource.resourceName}}</option>
                      </select>




                </div>
                <div class="col-lg-6">
                  <label> <span class="color-red f-bold f-left">*</span>Financial Year:</label>
                  <select ng-model="resourceLeave.financialYear" class="drop09">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-lg-4">
                  <div class="col-lg-12">
                  <div class="col-lg-12"  style="margin-left: 15px;margin-top: 20px;">  <label>CLS</label></div>
                  <div class="col-lg-6">
                    <div class="col-lg-6"><label>Ent</label> </div>

                    <div class="col-lg-6"><input type="text"  ng-model="resourceLeave.CLsEntitled"   style="width: 30px;"> </div>

                  </div>

                  <div class="col-lg-6">
                    <div class="col-lg-6"><label>avail</label> </div>
                    <div class="col-lg-6"><input type="text" ng-model="resourceLeave.CLsAvailed" style="width: 30px;"> </div>
                  </div>
                 </div>
                </div>


                <div class="col-lg-4">
                  <div class="col-lg-12">
                    <div class="col-lg-12"  style="margin-left: 15px;margin-top: 20px;">  <label>SLS</label></div>
                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>Ent</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="resourceLeave.SLsEntitled" style="width: 30px;"> </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>avail</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="resourceLeave.SLsAvailed" style="width: 30px;"> </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="col-lg-12">
                    <div class="col-lg-12" style="margin-left: 15px;margin-top: 20px;">  <label>ELS</label></div>
                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>Ent</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="resourceLeave.ELsEntitled" style="width: 30px;"> </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>avail</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="resourceLeave.ELsAvailed" style="width: 30px;"> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4" style="margin-bottom: 20px">
                <div class="col-lg-6">
                  <input type="submit" class="btn btn-primary" value="Save" style="margin-top: 20px"/>
                </div>
                <div class="col-lg-6">
                  <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" style="margin-top: 20px;" />
                </div>
              </div>

            </form>
          </div>
        </div>

        </div>
      </div>
    </div>
    <div class="modal fade" id="resourceEdit" resource="dialog">
      <div class="modal-dialog">

        <div class="modal-content hight09" align="center">
          <div class="modal-header createEmployeeModalHeader">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">SetUp Leaves For Employee</h4>
          </div>
          <div class="modal-body">
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
            <form class="simple-form" ng-submit="createLeave3()">


              <div class="col-lg-12">
                <div class="col-lg-6">
                  <label> Emp name</label>
                  <select ng-model="editLeave1.resourceName"  class="drop09">
                    <option class=" " value="">Select Emp Name</option>
                    <option value="{{editLeave1.id}}" ng-repeat="editLeave1 in dataOfResource">{{editLeave1.resourceName}}</option>
                  </select>

                </div>
                <div class="col-lg-6">
                  <label> <span class="color-red f-bold f-left">*</span>Financial Year:</label>
                  <select ng-model="editLeave1.financialYear" class="drop09">
                    <option value="2015-16">2015-16</option>
                    <option value="2016-17">2016-17</option>
                    <option value="2017-18">2017-18</option>
                    <option value="2018-19">2018-19</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="col-lg-4">
                  <div class="col-lg-12">
                    <div class="col-lg-12"  style="margin-left: 15px;margin-top: 20px;">  <label>CLS</label></div>
                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>Ent</label> </div>
                      <div class="col-lg-6"><input type="text"  ng-model="editLeave1.CLsEntitled"  style="width: 30px;"> </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>avail</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="editLeave1.CLsAvailed" style="width: 30px;"> </div>
                    </div>
                  </div>
                </div>


                <div class="col-lg-4">
                  <div class="col-lg-12">
                    <div class="col-lg-12"  style="margin-left: 15px;margin-top: 20px;">  <label>SLS</label></div>
                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>Ent</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="editLeave1.SLsEntitled" style="width: 30px;"> </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>avail</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="editLeave1.SLsAvailed" style="width: 30px;"> </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="col-lg-12">
                    <div class="col-lg-12" style="margin-left: 15px;margin-top: 20px;">  <label>ELS</label></div>
                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>Ent</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="editLeave1.ELsEntitled" style="width: 30px;"> </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="col-lg-6"><label>avail</label> </div>
                      <div class="col-lg-6"><input type="text" ng-model="editLeave1.ELsAvailed" style="width: 30px;"> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-offset-4 col-lg-4 col-lg-offset-4" style="margin-bottom: 20px">
                <div class="col-lg-6">
                  <input type="submit" class="btn btn-primary" value="save" style="margin-top: 20px"/>
                </div>
                <div class="col-lg-6">
                  <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" style="margin-top: 20px;" />
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>

    <!--************************************add and update*********************************************-->





    <table   class="table table-striped table-condensed table-hover" border="1" align="left">
      <thead>

      <tr>
        <th class="empId width26 " class=emp custom-sort order="'paNumb'" sort="sort">Emp Name&nbsp;</th>
        <th class="financialYear width14" custom-sort order="'projectName'" sort="sort">Financial Year&nbsp;</th>
        <th class="managerName width14" custom-sort order="'projectName'" sort="sort">Manager Name&nbsp;</th>
        <th class="clsEntitled leaveth" custom-sort order="'projectManager'" sort="sort">CLs
        <table class="">
          <thead>
          <tr>
          <td class="inlineth boardr-right"> Entitled&nbsp;</td>
          <td class="inlineth"> Availed&nbsp;</td>
          </tr>
          </thead>
        </table></th>

        <th class="slsEntitled leaveth1" custom-sort order="'projectManager'" sort="sort">SLs
          <table>
            <th class="inlineth1 boardr-right1"> Entitled&nbsp;</th>
            <th class="inlineth1"> Availed&nbsp;</th>
          </table></th>

        <th class="elsEntitled leaveth2" custom-sort order="'projectManager'" sort="sort">ELs
          <table>
            <th class="inlineth2 boardr-right2">Entitled&nbsp;</th>
            <th class="inlineth2">Availed&nbsp;</th>
          </table></th>

         <th class="edit" custom-sort order="'edit'" sort="sort">Actions&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="request in editLeave123">
        <!--<td>{{request1}}</td>-->
       <td> {{request.resourceName}}</td>
        <td> {{request.financialYear}}</td>
        <td> {{request.reportingMgr}}</td>

        <td>
          <table class="">
            <thead>
            <tr>
              <td class="inlineth boardr-right">{{request.CLsEntitled}}</td>
              <td class="inlineth"> {{request.CLsAvailed}}</td>
            </tr>
            </thead>
          </table>
        </td>
        <td>
          <table class="">
            <thead>
            <tr>
              <td class="inlineth boardr-right">{{request.SLsEntitled}}</td>
              <td class="inlineth"> {{request.SLsAvailed}}</td>
            </tr>
            </thead>
          </table>
        </td>
        <td>
          <table class="">
            <thead>
            <tr>
              <td class="inlineth boardr-right">{{request.ELsEntitled}}</td>
              <td class="inlineth"> {{request.ELsAvailed}}</td>
            </tr>
            </thead>
          </table>
        </td>



        <td>
          <button class="glyphicon glyphicon-pencil pall10 m-right5" data-backdrop="static" data-keyboard="false"  ng-click="editLeave2(request)"></button>

        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
