<div class="contentArea">
  <div class="">
    <div class="pageTitle">Resource Leaves</div>
    <hr class="hline1" />
  </div>
  <div ng-controller="ResourceLeavesController">
    <button type="button" class="btn btn-danger btn-md pull-right m-btm10" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" resource="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Request</h4>
          </div>
          <div class="modal-body">
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
            <form class="simple-form" ng-submit="createRequest()">
              <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Emp Id:</label>
                <input type="text" class="form-control" ng-model="request.emp id" placeholder="Enter Emp Id"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span> Financial Year:</label>
                <input type="text" class="form-control"  ng-model="request. financialYear" placeholder="Enter  Financial Year" title="Enter Emp Name"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>CLs Entitled:</label>
                <input type="text" class="form-control" ng-model="request.clsEntitled" placeholder="Enter CLs Entitled"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>CLs Availed:</label>
                <input type="text" class="form-control" ng-model="request.clsAvailed" placeholder="Enter CLs_Availed"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>SLs Entitled:</label>
                <input type="text" class="form-control" ng-model="request.slsEntitled" placeholder="Enter SLs_Entitled"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span> SLs_Availed:</label>
                <input type="text" class="form-control" ng-model="request. slsAvailed" placeholder="Enter  SLs_Availed"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span> ELs_Entitled:</label>
                <input type="text" class="form-control" ng-model="request. slsAvailed" placeholder="Enter  ELs_Entitled"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span> ELs_Availed:</label>
                <input type="text" class="form-control" ng-model="request. elsAvailed" placeholder="Enter  ELs_Availed"  data-toggle="tooltip" data-placement="top" required>
              </div>

              <!--<div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>From Dt:</label>
                <input type="text" class="form-control"  ng-model="request.from dt" placeholder="Enter Project Description" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>TO Dt:</label>
                <input type="text" class="form-control"  ng-model="request.to dt" placeholder="Enter Project Technology" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>-->
             <!-- <div class="form-group" align="left">

                <label ><span class="color-red f-bold f-left">*</span>Start Dt:</label>
                &lt;!&ndash;<input type="text"  class="form-control" ng-model="project.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                <input placeholder="Select Start Date" type="text" ng-calendar ng-model="request.startDt" format="%d-%m-%Y" />
              </div>

              <div class="form-group" align="left">

                <label ><span class="color-red f-bold f-left">*</span>End Dt:</label>
                &lt;!&ndash;<input type="text"  class="form-control" ng-model="project.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                <input placeholder="Select Start Date" type="text" ng-calendar ng-model="request.endDt" format="%d-%m-%Y" />
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>No Of Days:</label>
                <input type="text" class="form-control"  ng-model="request.noOfDays" placeholder="Enter No Of Days" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>-->
             <!-- <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Leave Type:</label>
                <select ng-model="editRequest.type">
                  <option value="">Select Leave Type</option>
                  <option value="Yitsol">CL</option>
                  <option value="Nibble Matrix">SL</option>
                  <option value="Active Life">EL</option>

                </select> </div>


              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>Reason For Leave:</label>
                <input type="text" class="form-control"  ng-model="request.reasonForLeave" placeholder="Enter Reason For Leave" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>MGR Approval Status:</label>
                <input type="text" class="form-control"  ng-model="request.mgrApprovalStatus" placeholder="Enter MGR Approval Status" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>HR Approval Status:</label>
                <input type="text" class="form-control"  ng-model="request.hrApprovalStatus" placeholder="Enter HR Approval Status" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>-->
              <!-- <div class="form-group" align="left">

                 <label ><span class="color-red f-bold f-left">*</span>Start Date:</label>
                 &lt;!&ndash;<input type="text"  class="form-control" ng-model="project.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                 <input placeholder="Select Start Date" type="text" ng-calendar ng-model="project.startDate" format="%d-%m-%Y" />
               </div>

               <div class="form-group" align="left">
                 <label ><span class="color-red f-bold f-left">*</span>End Date:</label>
                 &lt;!&ndash;<input type="text" class="form-control" ng-model="project.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                 <input placeholder="Select End Date" type="text" ng-calendar ng-model="project.endDate" format="%d-%m-%Y" />
               </div>
 -->

              <!--  <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Select Manager:</label>
                  <select ng-model="project.manager">
                    <option value="">Select Manager</option>
                    <option ng-repeat="manager in managerList" value="{{manager.resourceName}}">{{manager.resourceName}}</option>
                  </select></div>
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Status:</label>
                  <select ng-model="project.status">
                    <option value="">Select Status</option>
                    <option value="Not started yet">New Project</option>
                    <option value="Active">Active</option>
                    <option value="Complted">Completed</option>
                    <option value="Hold">Work On Hold</option>
                    &lt;!&ndash; <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>&ndash;&gt;
                  </select>
                </div>
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Entity:</label>
                  <select ng-model="project.company">
                    <option value="">Select Company</option>
                    <option value="Yitsol">YITSOL</option>
                    <option value="Nibble Matrix">Nibble Matrix</option>
                    <option value="Active Life">Active Life</option>
                    <option value="Array">Array</option>

                    &lt;!&ndash;<option value="">{{x.model}}</option>&ndash;&gt;
                  </select>
                </div>-->
              <!--  <div class="form-group" align="left">
                  <label for="status"><span class="color-red f-bold f-left">*</span>Status:</label>
                  <input type="text" class="form-control" id="status" ng-model="resource.status" placeholder="Enter Status"   data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label for="type"><span class="color-red f-bold f-left">*</span>Type:</label>
                  <input type="text" class="form-control" id="type" ng-model="resource.type" placeholder="Enter type"   data-toggle="tooltip" data-placement="top" required>
                </div>-->
              <!--<<<<<<< HEAD-->
              <input type="submit" value="Save" />
              <input type="button" ng-click="reset()" value="Reset" />


            </form>
          </div>
          <div class="modal-footer">

          </div>
          <!--=======

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" ng-click="reset()" value="Reset" />Reset</form>
                                  <button class="btn btn-success" value="Save" />Save</button>
                            </div>

                            </form>
                          </div>
          >>>>>>> ccdbb49ba56e80a4f3770b10e41f979ff5293e3e-->
        </div>
      </div>
    </div>
    <div class="modal fade" id="resourceEdit" resource="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Edit Resource</h4>
          </div>
          <div class="modal-body">

            <div>
              <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{resourceUserError}}</div>
              <form class="simple-form"  ng-submit="updateRequest()">
                <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Emp Id:</label>
                  <input type="text" class="form-control" ng-model="editRequest.Emp Id" placeholder="Enter Project ID"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Emp Name:</label>
                  <input type="text" class="form-control"  ng-model="editEmpName" placeholder="Enter Emp Name" data-toggle="tooltip" data-placement="top" required>
                </div>
                <!-- <div class="form-group" align="left">
                   <label > <span class="color-red f-bold f-left">*</span>From Dt:</label>
                   <input type="text" class="form-control"  ng-model="editRequest.from dt" placeholder="Enter Project Description" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                 </div>-->
                <!-- <div class="form-group" align="left">
                   <label > <span class="color-red f-bold f-left">*</span>To Dt:</label>
                   <input type="text" class="form-control"  ng-model="editRequest.to dt" placeholder="Enter Project Technology" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                 </div>-->
                <div class="form-group" align="left">

                  <label ><span class="color-red f-bold f-left">*</span>Start Date:</label>
                  <!--<input type="text"  class="form-control" ng-model="project.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>-->
                  <input placeholder="Select Start Date" type="text" ng-calendar ng-model="project.startDate" format="%d-%m-%Y" />
                </div>

                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>End Dt:</label>
                  <!--<input type="text"  class="form-control" ng-model="editProject.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>-->
                  <input ng-model="editRequest.end dt" type="text" ng-calendar ng-model="myDate" format="%d/%m/%Y" />
                </div>
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>No Of Days:</label>
                  <input type="text" class="form-control" ng-model="editRequest.no of days" placeholder="Enter No Of Days"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <!-- <div class="form-group" align="left">
                   <label ><span class="color-red f-bold f-left">*</span>No Of Days:</label>
                   &lt;!&ndash;<input type="text"  class="form-control" ng-model="editProject.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                   <input ng-model="editRequest.no of days" type="text" ng-calendar ng-model="myDate" format="%d/%m/%Y" />
                 </div>-->

                <!--<div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Request For Leave:</label>
                  &lt;!&ndash;<input type="text" class="form-control" ng-model="editProject.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>&ndash;&gt;
                  <input ng-model="editRequest.requestforleave" type="text" ng-calendar ng-model="myDate2" format="%d/%m/%Y" />
                </div>-->
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Leave Type:</label>
                  <input type="text" class="form-control" ng-model="editRequest.Leave Type" placeholder="Enter Leave Type"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Reason for Leave:</label>
                  <input type="text" class="form-control"  ng-model="editRequest.reason for leave" placeholder="Enter Reason for Leave" title="Reason for Leave"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>MGR Approval Status:</label>
                  <input type="text" class="form-control"  ng-model="editRequest.mgr approval status" placeholder="MGR Approval Status" title="MGR Approval Status"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>HR Approval Status:</label>
                  <input type="text" class="form-control"  ng-model="editRequest.hr approval status" placeholder="Enter MGR Approval Status" title="Enter MGR Approval Status"  data-toggle="tooltip" data-placement="top" required>
                </div>

                <!-- <div class="form-group" align="left">
                   <label ><span class="color-red f-bold f-left">*</span>Status:</label>
                   <select ng-model="editProject.status">
                     <option value="">Select Status</option>
                     <option value="Not started yet">New Project</option>
                     <option value="Active">Active</option>
                     <option value="Complted">Completed</option>
                     <option value="Hold">Work On Hold</option>
                     &lt;!&ndash; <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>&ndash;&gt;
                   </select>
                 </div>-->
                <!--<div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Entity:</label>
                  <select ng-model="editProject.company">
                    <option value="">Select Company</option>
                    <option value="Yitsol">YITSOL</option>
                    <option value="Nibble Matrix">Nibble Matrix</option>
                    <option value="Active Life">Active Life</option>
                    <option value="Array">Array</option>

                    &lt;!&ndash;<option value="">{{x.model}}</option>&ndash;&gt;
                  </select> </div>-->
                <input type="submit" value="Save" />
                <input type="button" data-dismiss="modal" value="Close"/>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--************************************add and update*********************************************-->





    <table datatable="ng" class="table table-striped table-condensed table-hover" border="1" align="left">
      <thead>

      <tr>
        <th class="empId" custom-sort order="'paNumb'" sort="sort">Emp Id&nbsp;</th>
        <th class="financialYear" custom-sort order="'projectName'" sort="sort">Financial Year&nbsp;</th>
        <th class="clsEntitled leaveth" custom-sort order="'projectManager'" sort="sort">CLs
        <table class="">
          <thead>
          <tr>
          <th class="inlineth boardr-right">CLs Entitled&nbsp;</th>
          <th class="inlineth">CLs Availed&nbsp;</th>
          </tr>
          </thead>
        </table></th>

        <!--<th class=" clsAvailed" custom-sort order="'projectManager'" sort="sort">CLs Availed&nbsp;</th>-->
       <!-- <th class="slsEntitled" custom-sort order="'projectManager'" sort="sort">SLs Entitled&nbsp;</th>-->
        <th class="slsEntitled leaveth1" custom-sort order="'projectManager'" sort="sort">SLs
          <table>
            <th class="inlineth1 boardr-right1">SLs Entitled&nbsp;</th>
            <th class="inlineth1">SLs Availed&nbsp;</th>
          </table></th>
       <!-- <th class="slsAvailed" custom-sort order="'start_date'" sort="sort">SLs Availed&nbsp;</th>-->
        <!--<th class="elsEntitled" custom-sort order="'endDate'" sort="sort">ELs Entitled
          &nbsp;</th>

        <th class=" elsAvailed" custom-sort order="'start_date'" sort="sort">  ELs Availed &nbsp;</th>-->
        <th class="elsEntitled leaveth2" custom-sort order="'projectManager'" sort="sort">ELs
          <table>
            <th class="inlineth2 boardr-right2">ELs Entitled&nbsp;</th>
            <th class="inlineth2">ELs Availed&nbsp;</th>
          </table></th>
        <!-- <th class="status" custom-sort order="'status'" sort="sort">Status&nbsp;</th>
         <th class="entity" custom-sort order="'entity'" sort="sort">Entity&nbsp;</th>-->
        <!--  <th class="createdBy" custom-sort order="'createdBy'" sort="sort">Created By&nbsp;</th>
            <th class="created_DT_TM" custom-sort order="'created_DT_TM'" sort="sort">Created_DT_TM&nbsp;</th>
            <th class="modifiedBy" custom-sort order="'modifiedBy'" sort="sort">Modified By&nbsp;</th>
          <th class="lastUpdated_DT_TM" custom-sort order="'lastUpdated_DT_TM'" sort="sort">LastUpdated_DT_TM&nbsp;</th>-->
        <!-- <th class="edit" custom-sort order="'edit'" sort="sort">Actions&nbsp;</th>-->
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="requests in requestsData track by $index">
        <td> {{request.empid}}</td>
        <td> {{request.emailid}}</td>
        <td>{{request.from_dt}}</td>
        <td>{{request.to_dt}}</td>
        <td>{{request.no_of_days}}</td>
        <td>{{request.reasonforleave}}</td>
        <td>{{projects.dtsubmitted}}</td>
        <!-- <td> {{projects.status}}</td>-->
        <!--
                  {
                  "endDate": "30/07/2016",
                  "status": "Not started yet",
                  "id": "12",
                  "name": "Yitsol",
                  "startDate": "30/07/2016",
                  "manager": "vinod",
                  "company": "Yitsol"
                  }-->

        <td> {{requests.company}}</td>
        <!--<td>{{projects.createdBy}}</td>
        <td>{{projects.createdTime}}</td>
        <td>{{projects.modifiedBy}}</td>
        <td>{{projects.lastUpdated_DT_TM}}</td>-->
        <td>
          <button class="glyphicon glyphicon-pencil pall10 m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#projectEdit" ng-click="editProject12(projects)"></button>

        </td>

      </tr>
      </tbody>
    </table>

  </div>
</div>
