
<div class="">
    <h4>RSR_Calender</h4>
</div>


<div ng-controller="calenderController">

<!--<<<<<<< HEAD-->
 <!-- <div align="right">
    <div class="d-table">
      <div class="d-tbcell">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>

        &lt;!&ndash; Modal &ndash;&gt;
        <div class="modal fade" id="myModal" resource="dialog">
          <div class="modal-dialog">
            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content" align="center">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Calendar</h4>
              </div>
              <div class="modal-body">
                <div>
                  <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
                  <form class="simple-form"  ng-submit="createManager()">
                    &lt;!&ndash;<span class="color-red f-bold f-left">*All fields are mandatory</span><br>&ndash;&gt;
                    <div class="form-group" align="left">
                      <label ><span class="color-red f-bold f-left">*</span>Start Date</label>
                      <input type="text" class="form-control" ng-model="calendar.startDate" placeholder="Enter Start Date"  data-toggle="tooltip" data-placement="top" required>
                    </div>
                    <div class="form-group" align="left">
                      <label ><span class="color-red f-bold f-left">*</span>End Date</label>
                      <input type="text" class="form-control" ng-model="calendar.endDate" placeholder="Enter End Date"  data-toggle="tooltip" data-placement="top" required>
                    </div>

                    <input type="button" ng-click="reset()" value="Reset" />
                    <input type="submit" value="Save" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="managerEditDetails" resource="dialog">
          <div class="modal-dialog">

            &lt;!&ndash; Modal content&ndash;&gt;
            <div class="modal-content" align="center">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Manager</h4>
              </div>
              <div class="modal-body">

                <div>
                  <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{resourceUserError}}</div>
                  <form class="simple-form"  ng-submit="managerEdit()">
                    &lt;!&ndash;<span class="color-red f-bold f-left">*All fields are mandatory</span><br>&ndash;&gt;
                    <div class="form-group" align="left">
                      <label ><span class="color-red f-bold f-left">*</span>Manager Id:</label>
                      <input type="text" class="form-control" ng-model="editManager.employeeId" placeholder="Enter Manager Id"  data-toggle="tooltip" data-placement="top" required>
                    </div>
                    <div class="form-group" align="left">
                      <label ><span class="color-red f-bold f-left">*</span>Manager Name:</label>
                      <input type="text" class="form-control" ng-model="editManager.name" placeholder="Enter Manager Name"  data-toggle="tooltip" data-placement="top" required>
                    </div>
                    <div class="form-group" align="left">
                      <label > <span class="color-red f-bold f-left">*</span>Manager Email:</label>
                      <input type="text" class="form-control"  ng-model="editManager.email" placeholder="Enter Manager Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                    </div>

                    <div class="form-group" align="left">
                      <label ><span class="color-red f-bold f-left">*</span>Status:</label>
                      <select ng-model="editManager.status">
                        <option value="">Select Status</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                        &lt;!&ndash; <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>&ndash;&gt;
                      </select>
                    </div>
                    <input type="button" ng-click="reset()" value="Reset" />
                    <input type="submit" value="Save" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>


  </div>-->


  <button class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#createCalendar">Create</button>

    <table class="table table-striped table-condensed table-hover" border="1" align="left">
        <thead>
        <tr>
            <th class="rowId" custom-sort order="'rowId'" sort="sort">Row_Id&nbsp;</th>
            <th class="period" custom-sort order="'period'" sort="sort">Period&nbsp;</th>
            <th class="startDay" custom-sort order="'startDay'" sort="sort">Start_Day&nbsp;</th>
            <th class="endDay" custom-sort order="'endDay'" sort="sort">end_Day&nbsp;</th>
        </tr>
        </thead>

        <tbody>

        <!--{{createCalendar}}-->
        <tr ng-repeat="calender in calenderData track by $index">
            <td> {{calender.rowId}}</td>
            <td> {{calender.period}}</td>
            <td>{{calender.startDate}}</td>
            <td>{{calender.endtDate}}</td>


        </tr>
        </tbody>
    </table>


  <div id="createCalendar" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">

          <form class="simple-form" ng-submit="createCalendar()">

            <div class="form-group" align="left">
              <label ><span class="color-red f-bold f-left">*</span>Start Date:</label>
              <!--<input type="text" class="form-control" ng-model="project.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>-->
              <input placeholder="Start Date" type="text" ng-calendar ng-model="calendar.calendarStartDate" format="%d/%m/%Y" />
              {{project.scalendarCreate}}
            </div>

            <div class="form-group" align="left">
              <label ><span class="color-red f-bold f-left">*</span>End Date:</label>
              <!--<input type="text" class="form-control" ng-model="project.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>-->
              <input placeholder="End Date" type="text" ng-calendar ng-model="calendar.calendarEndDate" format="%d/%m/%Y" />
            </div>
            <input type="button" ng-click="reset()" value="Reset" />
            <input type="submit" value="Save" />
          </form>

        </div>
       <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>-->
      </div>

    </div>
  </div>

</div>
