<div class="contentArea">
  <div class="">
    <div class="pageTitle">Resources Leaves</div>
    <hr class="hline1"/>
  </div>

  <!--<input
    ng-model="myDate"
    placeholder="__/__/____"
    type="text">

  <i  class="fa fa-calendar-check-o"
      aria-hidden="true"
      ng-calendar
      ng-model="myDate"
      format="%d/%m/%Y"></i>-->

  <!--

  <input
    ng-model="myDate1"
    placeholder="__/__/____"
    type="text"
    ng-calendar
    ng-model="myDate1"
    format="%d/%m/%Y">
  -->

  <div ng-controller="projectsController">


    <!--*************************Add and Update********************************-->

    <button type="button" class="btn btn-danger btn-md pull-right m-btm10" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" resource="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Create Project</h4>
          </div>
          <div class="modal-body">
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
            <form class="simple-form" ng-submit="createProject()">
              <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Projet Number:</label>
                <input type="text" class="form-control" ng-model="project.projectId" placeholder="Enter Project ID"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>Project Name:</label>
                <input type="text" class="form-control"  ng-model="project.name" placeholder="Enter Project Name" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>Project Description:</label>
                <input type="text" class="form-control"  ng-model="project.description" placeholder="Enter Project Description" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label > <span class="color-red f-bold f-left">*</span>Technology:</label>
                <input type="text" class="form-control"  ng-model="project.technology" placeholder="Enter Project Technology" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
              </div>

              <div class="form-group" align="left">

                <label ><span class="color-red f-bold f-left">*</span>Start Date:</label>
                <!--<input type="text"  class="form-control" ng-model="project.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>-->
                <input placeholder="Select Start Date" type="text" ng-calendar ng-model="project.startDate" format="%d-%m-%Y" />
              </div>

              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>End Date:</label>
                <!--<input type="text" class="form-control" ng-model="project.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>-->
                <input placeholder="Select End Date" type="text" ng-calendar ng-model="project.endDate" format="%d-%m-%Y" />
              </div>


              <div class="form-group" align="left">
                <label><span class="color-red f-bold f-left">*</span>Select Manager:</label>
                <select ng-model="project.manager">
                  <option value="">Select Manager</option>
                  <option ng-repeat="manager in managerList" value="{{manager.resourceName}}">{{manager.resourceName}}</option>
                </select></div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Status:</label>
                <select ng-model="project.status">
                  <option value="">Select Status</option>
                  <option value="Not started yet">New Project</option>
                  <option value="Active">Active</option>
                  <option value="Complted">Completed</option>
                  <option value="Hold">Work On Hold</option>
                  <!-- <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>-->
                </select>
              </div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Entity:</label>
                <select ng-model="project.company">
                  <option value="">Select Company</option>
                  <option value="Yitsol">YITSOL</option>
                  <option value="Nibble Matrix">Nibble Matrix</option>
                  <option value="Active Life">Active Life</option>
                  <option value="Array">Array</option>

                  <!--<option value="">{{x.model}}</option>-->
                </select>
              </div>
              <!--  <div class="form-group" align="left">
                  <label for="status"><span class="color-red f-bold f-left">*</span>Status:</label>
                  <input type="text" class="form-control" id="status" ng-model="resource.status" placeholder="Enter Status"   data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label for="type"><span class="color-red f-bold f-left">*</span>Type:</label>
                  <input type="text" class="form-control" id="type" ng-model="resource.type" placeholder="Enter type"   data-toggle="tooltip" data-placement="top" required>
                </div>-->
              <!--<<<<<<< HEAD-->
              <input type="submit" value="Save" />
              <input type="button" ng-click="reset()" value="Reset" />


            </form>
          </div>
          <div class="modal-footer">

          </div>
          <!--=======

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" ng-click="reset()" value="Reset" />Reset</form>
                                  <button class="btn btn-success" value="Save" />Save</button>
                            </div>

                            </form>
                          </div>
          >>>>>>> ccdbb49ba56e80a4f3770b10e41f979ff5293e3e-->
        </div>
      </div>
    </div>
    <div class="modal fade" id="resourceEdit" resource="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Edit Resource</h4>
          </div>
          <div class="modal-body">

            <div>
              <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{resourceUserError}}</div>
              <form class="simple-form"  ng-submit="updateProject()">
                <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Projet Number:</label>
                  <input type="text" class="form-control" ng-model="editProject.projectId" placeholder="Enter Project ID"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Project Name:</label>
                  <input type="text" class="form-control"  ng-model="editProjectname" placeholder="Enter Project Name" data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Project Description:</label>
                  <input type="text" class="form-control"  ng-model="editProject.description" placeholder="Enter Project Description" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Technology:</label>
                  <input type="text" class="form-control"  ng-model="editProject.technology" placeholder="Enter Project Technology" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                </div>
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Start Date:</label>
                  <!--<input type="text"  class="form-control" ng-model="editProject.startDate" placeholder="Select Start Date" maxlength="21"    data-toggle="tooltip" data-placement="top" required>-->
                  <input ng-model="editProject.startDate" type="text" ng-calendar ng-model="myDate" format="%d/%m/%Y" />
                </div>

                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>End Date:</label>
                  <!--<input type="text" class="form-control" ng-model="editProject.endDate" placeholder="Select End Date"    data-toggle="tooltip" data-placement="top" required>-->
                  <input ng-model="editProject.endDate" type="text" ng-calendar ng-model="myDate2" format="%d/%m/%Y" />
                </div>

                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Status:</label>
                  <select ng-model="editProject.status">
                    <option value="">Select Status</option>
                    <option value="Not started yet">New Project</option>
                    <option value="Active">Active</option>
                    <option value="Complted">Completed</option>
                    <option value="Hold">Work On Hold</option>
                    <!-- <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>-->
                  </select>
                </div>
                <div class="form-group" align="left">
                  <label ><span class="color-red f-bold f-left">*</span>Entity:</label>
                  <select ng-model="editProject.company">
                    <option value="">Select Company</option>
                    <option value="Yitsol">YITSOL</option>
                    <option value="Nibble Matrix">Nibble Matrix</option>
                    <option value="Active Life">Active Life</option>
                    <option value="Array">Array</option>

                    <!--<option value="">{{x.model}}</option>-->
                  </select> </div>
                <input type="submit" value="Save" />
                <input type="button" data-dismiss="modal" value="Close"/>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!--************************************add and update*********************************************-->





    <table class="table table-striped table-condensed projectstable table-hover" border="1" align="left">
      <thead>

      <tr>
        <th >Emp_Id&nbsp;</th>
        <th >Financial Year&nbsp;</th>
        <th>CLs_Entitled&nbsp;</th>
        <th >CLs_Availed&nbsp;</th>
        <th >SLs_Entitled&nbsp;</th>
        <th >SLs_Availed&nbsp;</th>
        <th >ELs_Entitled&nbsp;</th>
        <th >ELs_Availed&nbsp;</th>

        <!--  <th class="createdBy" custom-sort order="'createdBy'" sort="sort">Created By&nbsp;</th>
            <th class="created_DT_TM" custom-sort order="'created_DT_TM'" sort="sort">Created_DT_TM&nbsp;</th>
            <th class="modifiedBy" custom-sort order="'modifiedBy'" sort="sort">Modified By&nbsp;</th>
          <th class="lastUpdated_DT_TM" custom-sort order="'lastUpdated_DT_TM'" sort="sort">LastUpdated_DT_TM&nbsp;</th>-->
        <th class="edit" custom-sort order="'edit'" sort="sort">Actions&nbsp;</th>
      </tr>
      </thead>

      <tbody>
     <!-- <tr ng-repeat="projects in projectsData track by $index">
        <td> {{projects.projectId}}</td>
        <td> {{projects.name}}</td>
        <td>{{projects.manager}}</td>
        <td>{{projects.description}}</td>
        <td>{{projects.technology}}</td>
        <td>{{projects.startDate}}</td>
        <td>{{projects.endDate}}</td>
        <td> {{projects.status}}</td>
        &lt;!&ndash;
                  {
                  "endDate": "30/07/2016",
                  "status": "Not started yet",
                  "id": "12",
                  "name": "Yitsol",
                  "startDate": "30/07/2016",
                  "manager": "vinod",
                  "company": "Yitsol"
                  }&ndash;&gt;

       &lt;!&ndash; <td> {{projects.company}}</td>&ndash;&gt;
        &lt;!&ndash;<td>{{projects.createdBy}}</td>
        <td>{{projects.createdTime}}</td>
        <td>{{projects.modifiedBy}}</td>
        <td>{{projects.lastUpdated_DT_TM}}</td>&ndash;&gt;
        <td>
          <button class="glyphicon glyphicon-pencil pall10 m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#projectEdit" ng-click="editProject12(projects)"></button>

        </td>

      </tr>-->
      </tbody>
    </table>

  </div>
