<div class="contentArea">
  <div class="">
    <div class="pageTitle">Resources</div>
    <hr class="hline1" />


  </div>


<!--*************************Add and Update********************************-->

      <button type="button" class="btn btn-danger btn-md pull-right m-btm10" data-toggle="modal" data-target="#myModal" ng-click="reset()">Create</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" resource="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content" align="center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create Resource</h4>
            </div>
            <div class="modal-body">
              <div>
                <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{createResourceError}}</div>
                <form class="simple-form"  ng-submit="createResource()">
                  <!--<span class="color-red f-bold f-left">*All fields are mandatory</span><br>-->
                  <div class="form-group" align="left">
                    <label for="empId"><span class="color-red f-bold f-left">*</span>Resource ID:</label>
                    <input type="text" class="form-control" id="empId" ng-model="resource.empId" placeholder="Enter Resource ID"  data-toggle="tooltip" data-placement="top" required>
                  </div>
                  <div class="form-group" align="left">
                    <label for="email"> <span class="color-red f-bold f-left">*</span>Email:</label>
                    <input type="text" class="form-control" id="email"  ng-model="resource.email" placeholder="Enter Email" title="Enter Your Email"  data-toggle="tooltip" data-placement="top" required>
                  </div>
                  <div class="form-group" align="left">
                    <div class="form-group" align="left">
                    <label for="password"><span class="color-red f-bold f-left">*</span>Password:</label>
                    <input type="password" class="form-control" id="password" ng-model="resource.password" placeholder="Enter Password"   data-toggle="tooltip" data-placement="top" required>
                  </div>
                    <label for="resourceName"><span class="color-red f-bold f-left">*</span>Resource Name:</label>
                    <input type="text" class="form-control" id="resourceName" ng-model="resource.resourceName" placeholder="Enter Resource Name" maxlength="21"    data-toggle="tooltip" data-placement="top" required>
                  </div>

                  <!--<div class="form-group" align="left">-->
                    <!--<label for="reportingMgr"><span class="color-red f-bold f-left">*</span>Reporting Manager:</label>-->
                    <!--<input type="text" class="form-control" id="reportingMgr" ng-model="resource.reportingMgr" placeholder="Enter Reporting Manager Name"    data-toggle="tooltip" data-placement="top" required>-->
                  <!--</div>-->
                  <div class="form-group" align="left">
                    <label ><span class="color-red f-bold f-left">*</span>Select Manager:</label>
                    <select ng-model="resource.reportingMgr">
                      <option value="">Select Manager</option>
                      <option ng-repeat="manager in managerList" value="{{manager.resourceName}}">{{manager.resourceName}}</option>
                    </select></div>
                  <div class="form-group" align="left">
                    <label ><span class="color-red f-bold f-left">*</span>Employee Role:</label>
                    <select ng-model="resource.role">
                      <option value="">Employee Role</option>
                      <option  value="employee">Employee</option>
                      <option  value="manager"> Manager</option>
                      <option  value="admin">Admin</option>
                    </select></div>
                 <!-- <div class="form-group" align="left">
                  <label > <span class="color-red f-bold f-left">*</span>Role:</label><br>
                  <input type="role" class="form-control" id="role" ng-model="user.role" placeholder=" Enter Role">-->

                  <!--<select multiple ng-model="user.role">-->
                  <!--<option ng-repeat="x in role" value="{{x.role}}">{{x.role}}</option>-->
                  <!--</select>-->
                  <!--</div>-->
                  <div class="form-group" align="left">
                    <label for="primarySkill"><span class="color-red f-bold f-left">*</span>Primary Skill:</label>
                    <input type="text" class="form-control" id="primarySkill" ng-model="resource.primarySkill" placeholder="Enter Primary Skill"   data-toggle="tooltip" data-placement="top" required>
                  </div>
                  <div class="form-group" align="left">
                    <label for="secondarySkill"><span class="color-red f-bold f-left">*</span>Secondary Skill:</label>
                    <input type="text" class="form-control" id="secondarySkill" ng-model="resource.secondarySkill" placeholder="Enter Secondary Skill"   data-toggle="tooltip" data-placement="top" required>
                  </div>
                  <div class="form-group" align="left">
                    <label ><span class="color-red f-bold f-left">*</span>Select Status:</label>
                    <select ng-model="resource.status">
                      <option value="">Select Status</option>
                      <option value="On-Role">On Role</option>
                      <option value="Resigned">Resigned</option>
                      <option value="CSP-Released">CSP-Released</option>

                    </select></div>
                  <div class="form-group" align="left">
                    <label ><span class="color-red f-bold f-left">*</span>Select Type:</label>
                    <select ng-model="resource.type">
                      <option value="">Select Type</option>
                      <option value="Employee">Employee</option>
                      <option value="Contractor">Contractor</option>
                    </select></div>


                <!--  <div class="form-group" align="left">
                    <label for="status"><span class="color-red f-bold f-left">*</span>Status:</label>
                    <input type="text" class="form-control" id="status" ng-model="resource.status" placeholder="Enter Status"   data-toggle="tooltip" data-placement="top" required>
                  </div>
                  <div class="form-group" align="left">
                    <label for="type"><span class="color-red f-bold f-left">*</span>Type:</label>
                    <input type="text" class="form-control" id="type" ng-model="resource.type" placeholder="Enter type"   data-toggle="tooltip" data-placement="top" required>
                  </div>-->


                  <input type="submit" value="Save" />
                  <input type="button" ng-click="reset()" value="Reset" />

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  <div class="modal fade" id="resourceEdit" resource="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" align="center">
        <div class="modal-header">
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">Edit Resource</h4>
        </div>
        <div class="modal-body">

          <div>
            <div class=" text-center color-red f-bold" ng-show="resourceCreationError">{{resourceUserError}}</div>
            <form class="simple-form"  ng-submit="editResource()">
              <div class="form-group" align="left">
                <label for="empId"><span class="color-red f-bold f-left">*</span>Resource Id:</label>
                <input type="text" class="form-control" id="empId1" ng-model="updateResource.empId" placeholder="Enter Resource Id"  data-toggle="tooltip" data-placement="top" required>
              </div>
              <div class="form-group" align="left">
                <label for="resourceName"><span class="color-red f-bold f-left">*</span>Resource Name:</label>
                <input type="resourceName" class="form-control" id="resourceName1" ng-model="updateResource.resourceName" placeholder=" Resource Name "  data-toggle="tooltip" data-placement="top" >
              </div>
              <div class="form-group" align="left">
                <label for="email"><span class="color-red f-bold f-left">*</span>Email Id:</label>
                <input type="text" class="form-control" id="email1" ng-model="updateResource.email" placeholder="Enter Email Id"  data-toggle="tooltip" data-placement="top" required>
              </div>

              <div class="form-group" align="left">
                <label for="reportingMgr"><span class="color-red f-bold f-left">*</span>Reporting Manager:</label>
                <select ng-model="updateResource.reportingMgr">
                  <option value="">Select Manager</option>
                  <option ng-repeat="manager in managerList" value="{{manager.resourceName}}">{{manager.resourceName}}</option>
                </select></div>

              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Resource Role:</label>
                <select ng-model="updateResource.role">
                  <option value="">Employee Role</option>
                  <option  value="employee">Employee</option>
                  <option  value="manager"> Manager</option>
                  <option  value="admin">Admin</option>
                </select></div>

              <div class="form-group" align="left">
                <label for="primarySkill"><span class="color-red f-bold f-left">*</span>Primary Skill:</label>
                <input type="primarySkill" class="form-control" id="primarySkill1" ng-model="updateResource.primarySkill" placeholder="Enter Primary Skill"  data-toggle="tooltip" data-placement="top" >
              </div>
              <div class="form-group" align="left">
                <label for="secondarySkill"><span class="color-red f-bold f-left">*</span>Secondary Skill:</label>
                <input type="secondarySkill" class="form-control" id="secondarySkill1" ng-model="updateResource.secondarySkill" placeholder="Enter Secondary Skill"  data-toggle="tooltip" data-placement="top" >
              </div>

              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Select Status:</label>
                <select ng-model="updateResource.status">
                  <option value="">Select Status</option>
                  <option value="On-Role">On Role</option>
                  <option value="Resigned">Resigned</option>
                  <option value="CSP-Released">CSP-Released</option>

                </select></div>
              <div class="form-group" align="left">
                <label ><span class="color-red f-bold f-left">*</span>Select Type:</label>
                <select ng-model="updateResource.type">
                  <option value="">Select Type</option>
                  <option value="Employee">Employee</option>
                  <option value="Contractor">Contractor</option>
                </select></div>

              <input type="submit" value="Update" />
              <input type="button" value="Cancel" ng-click="cancelEdit()" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--************************************add and update*********************************************-->


<div>


  <table  datatable="ng" class="table table-bordered rsrtable table-striped" border="1" align="left">
    <thead>

    <tr>
      <th class="empId" custom-sort order="'empId'" sort="sort">Emp Id&nbsp;</th>
      <th class="email" custom-sort order="'resourceName'" sort="sort">Resource Name&nbsp;</th>
      <th class="resourceName" custom-sort order="'Manager'" sort="sort">Manager&nbsp;</th>
      <th class="reportingMgr" custom-sort order="'email Id'" sort="sort">Email Id&nbsp;</th>
      <th class="primarySkill" custom-sort order="'primarySkill'" sort="sort">Primary Skill&nbsp;</th>
      <th class="secondarySkill" custom-sort order="'secondarySkill'" sort="sort">Secondary Skill&nbsp;</th>
      <th class="status" custom-sort order="'status'" sort="sort">Status&nbsp;</th>
      <th class="type" custom-sort order="'type'" sort="sort">Type&nbsp;</th>
      <th class="status" custom-sort order="'status'" sort="sort">Actions&nbsp;</th>


    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="resources in resourcesData track by $index">
      <td> {{resources.empId}}</td>
      <td> {{resources.email}}</td>
      <!--<td> {{resources.password}}</td>-->
      <td>{{resources.resourceName}}</td>


      <td>{{resources.reportingMgr}}</td>
      <td>{{resources.primarySkill}}</td>
      <td>{{resources.secondarySkill}}</td>
      <td> {{resources.status}}</td>
      <td> {{resources.type}}</td>
      <td>
        <button class="glyphicon glyphicon-pencil pall10 m-right5" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#resourceEdit" ng-click="editPopup(resources)"></button>

      </td>


    </tr>
    </tbody>
  </table>

</div>
