<div class="contentArea">
<div class="">
    <h3 class="text-center ">YITSOL - Employee Status Reporting</h3>
    <h6  class="text-center">Status Report Submission Form</h6>
</div>

<div ng-controller="StatusEntryController">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Welcome {{nameOfLoginPerson}}</div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Date:{{todayDate |  date:'dd-MM-yyyy '}}  </div>
      <div class="col-lg-12 col-sm-12 col-xs-12">Submit Time for

        <select ng-model="selectedCar" ng-change="selectedDate(selectedCar)">
          <option value="">Select Week Period</option>
          <option ng-repeat="data in calenderData">{{data.period}}</option>{{calenderData}}

        </select>
      </div>
    </div>
  </div>


  <div><button class="btn btn-addproject btn-md pull-right m-btm10"  ng-click="addIme()">Add Project</button></div>


    <table datatable="ng" class="table table-striped table-condensed table-hover"  id="statusEntryTable" border="1" align="right">
        <thead>

        <tr>
          <th>Project </th>
          <th>Task Type</th>

          <th ng-repeat="data1 in rangeDates" >{{data1 | date:'dd-MMM-yy'}}</th>
          <th>Action</th>
          <th>Total</th>





        </tr>
        </thead>


        <tbody>
        <th>
          <td></td>

          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
          <td>Sunday</td>

          <td></td>
        </th>
        <tr ng-repeat="timeDetails in  timeList track by $index">
          <td>
            <select ng-model="timeList[$index].project" style="width: 119px">
              <option value="">Select project</option>
              <option ng-repeat="project in projectsData">{{project.name}}</option>{{projectsData}}
            </select>
          </td>
          <td>
            <select ng-model="timeList[$index].task" style="width: 84px">
              <option value="">SelectType</option>
              <option value="work">Work</option>
              <option value="leave">Leave</option>
            </select>
          </td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].monday'></td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].tuesday'> </td>
          <td><input ng-blur="findTotal()" class="qty" type="text"  ng-model='timeList[$index].wednesday'></td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].thursday'></td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].friday'></td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].saturday'></td>
          <td><input ng-blur="findTotal()" class="qty" type="text" ng-model='timeList[$index].sunday'></td>
          <td><button class="btn btn-danger" ng-click="removePerson($index)"><i class="fa fa-close"></i></button></td>

          <td>{{(timeList[$index].monday) -- (timeList[$index].tuesday)--timeList[$index].wednesday -- timeList[$index].thursday -- timeList[$index].friday -- timeList[$index].saturday -- timeList[$index].sunday}}</td>
        </tr>

        <tr>
          <th>Total</th>
          <td></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td><input type="text"></td>
          <td></td>
          <td><input type="text"></td>
        </tr>
        </tbody>
    </table>
  <div class="clearfix"></div>


    <div div class="col-lg-12">
      <div class="pull-right">
      <button ng-click="createStatus()"  class="btn btn-addproject btn-md  m-btm10" >Submit</button>
      <button class="btn btn-addproject btn-md  m-btm10" >Cancel </button>
    </div>
    </div>
    <div div class=""></div>

</div>


</div>


