<div class="m-top75 container-fluid system-config">
  <div ng-controller="SystemConfigController">
    <br><br>
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-5">
      <label for="fYear">Current Financial year:<span style=color:red>*</span></label>
      <!--<input type="text"  id="financialYear1" ng-model="updateyear.financialYear" placeholder="YYYY-YY"  data-toggle="tooltip" data-placement="top" required>-->
      <select  ng-model="yearOfCurrentFinance"  required >
        <option  value= "" >Select Year</option>
        <option ng-repeat="finYear in currentfinYear" ng-selected="yearOfCurrentFinance == finYear.financialYear"  value="{{finYear.id}}">{{finYear.financialYear}}</option>
      </select>
      <button type="button" class="btn btn-primary"  ng-click="updateCurrentYear()">Update</button>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#financialYear" >Create</button>
    </div>

    <div class="col-lg-2"></div>
    </div>




  <!--<div class="col-lg-12">
    <input type="submit"  class="btn btn-primary center-block" value="Update" ng-click="createUpdate()" style="margin-top: 20px"/>
  </div>-->



  <!-- Modal Boxes For Financial Year -->
  <div id="financialYear" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" align="center">Financial Year</h3>
        </div>
        <div class="modal-body">
          <label>Enter Financial Year:<span style="color:red">*</span> </label>
          <input type="text"  id="financialYear1" ng-model="updateyear.financialYear" placeholder="YYYY-YY like(2016-17)"  data-toggle="tooltip" data-placement="top" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success"  ng-click="createFYear()" required>Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
