/* Login starts */
.loginFormMain {
  border: 1px solid #ccc;
  padding: 25px;
  margin-top: 40px;
}
.curser{cursor: pointer;}
:focus { outline: 0 !important; }
.m-btm10 { margin-bottom: 10px; }


/*.loginFormMain .tab-content .tab-pane { padding: 15px; }
.loginFormMain .nav-tabs>li.active>a, .loginFormMain  .nav-tabs>li.active>a:focus, .loginFormMain .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: rgba(72, 67, 67, 0.33);
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.loginFormMain .nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  background: rgba(204, 204, 204, 0.26);
  color: #000;
  text-align: center;
}
.loginFormMain .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 33.33%;
}
.loginFormMain .nav-tabs { margin-top: 10px;}*/
/* Login starts */
#statusEntryTable input{ width: 50px; }
body .dhtmlxcalendar_material.dhtmlxcalendar_in_input {
  z-index: 99999 !important;
}
/*.form-group {
  width: 50%;
  float: left;
}*/
.form-group input {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
}
.form-group label {
  font-size: 12px;
  font-weight: normal;
  float: left;
}
.form-group select {
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
}
.modal-footer {
  display: block;
  clear: both;
  text-align: center;
}
.loginFormMain .form-group { width: 100%; }
.contentArea {
  padding: 0px 0px 0px 0px;
  margin-top: 90px;
}
.pageTitle {
  color: #c53131;
  font-size: 20px;
  font-weight: bold;
}
.hline1 {
  margin: 10px 0;
  border-color: #c53131;
}
.modal-body { padding: 0 15px; }
.modal-body form { padding-top: 15px; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;
}
.calenderTable>tbody>tr>td{
  text-align: right !important;
  vertical-align: middle;
}
.table>thead>tr>th {
  background: rgba(34, 34, 34, 0.79);
  color: #fff;
  padding: 15px 0;
  font-weight: normal;
}
 /*profile*/
.profile-table{
  width: 50%;
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  border: 1px solid #000;
}
.p-top45{ padding-top: 45px;}
.input_change_pswrd{
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.txt_center{ text-align: center;}
.submit_change_pswrd{
  text-align: center;
  left: 0px;
  right: 0px;
  margin: auto;
  display: table;
  margin-bottom: 15px;
  background-color: #00BCD4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}

.change_pswrd {
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  display: table;
  margin-top: 30px;
  font-size: 14px;
}
.yitsol-title{
  text-align: center;
  margin: auto;
  padding: 5px 0;
  position: absolute;
  left: 0px;
  right: 0px;
  color: #fff !important;
}

.fsize{
  font-size: 15px !important;
  color: #ffffff !important;
  margin: auto;
  padding: 5px 0;
  position: absolute;
  left: 678px;
  right: 9px;
  top: 68px;
}

.yitsol-title h5 {
  margin: -5px 0;
  font-size: 25px;
}
.titleAdmin h5 {
  color: #fff;
}

.edcolor {
  color: #999; !important,
}
#statusId {
  padding-left: 71px;
}
#status{
  padding-left: 71px;
}
#manager{
  padding-left: 46px;
}
#project{
  padding-left: 46px;
}
#business{
  padding-left: 46px;
}
#resource{
  padding-left: 46px;
}
#resource2{
  padding-left: 46px;
}
a:focus, a:hover {
  color: #999; !important;
  text-decoration: underline;
}
.h6, h6 {
  font-size: 15px;
}
.projectstable>tbody>tr>td {
  text-align: left !important;
  vertical-align: middle;
}
.resourcetable>tbody>tr>td {
  text-align: left !important;
  vertical-align: middle;
}
.usertable>tbody>tr>td {
  text-align: left !important;
  vertical-align: middle;
}
.managertable>tbody>tr>td {
  text-align: left !important;
  vertical-align: middle;
}
.rsrtable>tbody>tr>td {
  text-align: left !important;
  vertical-align: middle;
}
.btn-default {

  background-color: #9d9d9d;
}

.inlineth{
  width: 125px;
  text-align: left;
  /* border: 1px solid red; */
  border-top: 1px solid #fff;
  padding: 0px 25px;
}
.leaveth{

  width: 250px;
}
.inlineth1{
  width: 125px;
  text-align: left;
  /* border: 1px solid red; */
  border-top: 1px solid #fff;
  padding: 0px 25px;
}
.leaveth1{

  width: 250px;
}
.inlineth2{
  width: 125px;
  text-align: left;
  /* border: 1px solid red; */
  border-top: 1px solid #fff;
  padding: 0px 25px;
}
.leaveth2{

  width: 250px;
}

.boardr-right {
  border-right: 1px solid #fff;
}
.boardr-right1 {
  border-right: 1px solid #fff;
}
.boardr-right2 {
  border-right: 1px solid #fff;
}
.taskreq{
  width: 60px !important;
  text-align: left;
  padding: 16px 10px !important
}
.taskreq1{
  width: 120px !important;
  text-align: left;
  padding: 16px 10px !important
}
.bag{
  margin-top: 55px;
}
.bag1{
  background: #777;
  color: #fff;
}
/**************/
.createEmployeeModal tr td{
  border-top: 0px !important;
  text-align: left !important;
}
.createEmployeeModalHeader{
border-bottom: 0px !important;
}
.els{
  text-align: left;
  padding-left: 72px!important;
}
.drop09 {
  width: 100%;
  padding: 0px;
}
.hight09 {
  height: 325px;
}




.emp {
  width: 33%!important;
}




.width26 {
  width: 26%;
}



.width14{
  width: 14%;
}
.paddgleft-right0{
  padding-right: 0px !important;padding-left: 0px !important;
}
.m-top20{ margin-top: 20px; }
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.table1 {
  color: #ffffff;
}


#padding {
  padding-left: 39px;
  padding-top: 5px;
}
#padding1 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding2 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding3 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding4 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding5 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding6 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding7 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding8 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding9 {
  padding-left: 39px;
  padding-top: 5px;
}
#padding10 {
  padding-left: 39px;
  padding-top: 5px;
}
element.style {
  text-align: right;
}
#padding11 {
  padding-left: 39px;
  padding-top: 5px;
}
