/* Login starts */
.loginFormMain {
  border: 1px solid #ccc;
  padding: 25px;
  margin-top: 40px;
}
/*.loginFormMain .tab-content .tab-pane { padding: 15px; }
.loginFormMain .nav-tabs>li.active>a, .loginFormMain  .nav-tabs>li.active>a:focus, .loginFormMain .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: rgba(72, 67, 67, 0.33);
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.loginFormMain .nav-tabs>li>a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  background: rgba(204, 204, 204, 0.26);
  color: #000;
  text-align: center;
}
.loginFormMain .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  width: 33.33%;
}
.loginFormMain .nav-tabs { margin-top: 10px;}*/
/* Login starts */
#statusEntryTable input{ width: 50px; }
body .dhtmlxcalendar_material.dhtmlxcalendar_in_input {
  z-index: 99999 !important;
}
.form-group {
  width: 50%;
  float: left;
}
.form-group input {
  width: 95%;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
}
.form-group label {
  font-size: 12px;
  font-weight: normal;
}
.form-group select {
  width: 95%;
  height: 35px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 2px #ccc;
  -webkit-box-shadow: inset 0 0 2px #ccc;
  -moz-box-shadow: inset 0 0 2px #ccc;
}
.modal-footer {
  display: block;
  clear: both;
  text-align: center;
}
